{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Css/css/font-awesome.min.css' %}">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: black;">ConcesionarioCACC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Marcas:
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/marcas/insertar">Registrar Marca</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/marcas/listado">Listado Marcas</a></li>

                        </ul>
                    </li>

                </ul>

                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Concesionario:
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/vehiculo/insertar">Agregar Producto Al Concesionario</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/vehiculo/listado">Listado </a></li>
                        </ul>
                    </li>

                </ul>

                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Proveedor:
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/proveedor/insertar">Registar provedor</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/proveedor/listado">Listado proveedores</a></li>
                        </ul>
                    </li>

                </ul>

                <form class="d-flex" role="search">

                    <button class="btn btn-outline-success" type="submit" style="background-color: black; color: white;">Login</button>
                </form>
            </div>
        </div>
    </nav>