{% include "inc/header.html" %}
{% load static %}

<div class="container">
    <h1 style="text-align: center;">Bienvenido Al ConcesionarioCACC</h1>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '/Img/logoMazda.jpg' %}" class="card-img-top" alt="Logo Mazda">
                <div class="card-body">
                    <p class="card-text">Algunos ejemplos rápidos de texto para construir sobre el título de la tarjeta y formar la mayor parte del contenido de la tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '/Img/logoToyota.jpg' %}" class="card-img-top" alt="Logo Toyota">
                <div class="card-body">
                    <p class="card-text">Algunos ejemplos rápidos de texto para construir sobre el título de la tarjeta y formar la mayor parte del contenido de la tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '/Img/logoShelby.jpg' %}" class="card-img-top" alt="Logo Toyota">
                <div class="card-body">
                    <p class="card-text">Algunos ejemplos rápidos de texto para construir sobre el título de la tarjeta y formar la mayor parte del contenido de la tarjeta.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '/Img/logoChevrolet.jpg' %}" class="card-img-top" alt="Logo Mazda">
                <div class="card-body">
                    <p class="card-text">Algunos ejemplos rápidos de texto para construir sobre el título de la tarjeta y formar la mayor parte del contenido de la tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '/Img/logoFord.jpg' %}" class="card-img-top" alt="Logo Toyota">
                <div class="card-body">
                    <p class="card-text">Algunos ejemplos rápidos de texto para construir sobre el título de la tarjeta y formar la mayor parte del contenido de la tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '/Img/logoKoe.png' %}" class="card-img-top" alt="Logo Toyota">
                <div class="card-body">
                    <p class="card-text">Algunos ejemplos rápidos de texto para construir sobre el título de la tarjeta y formar la mayor parte del contenido de la tarjeta.</p>
                </div>
            </div>
        </div>

    </div>
    
</div>
{% include "inc/footer.html" %}