{% include "inc/header.html" %}

<div class="container">
    <h1>Listado de Proveedores Inactivos</h1> <a href="/proveedor/listado"><button class="btn btn-dark">Proveedores Activos</button></a>
    <br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Nombre completo</td>
                <td>Cedula</td>
                <td>Celular</td>
                <td>Pais</td>
                <td>Actualizar</td>
                <td>Activar</td>
            </tr>
        </thead>
        <tbody>
            {% for c in proveedor %}
            <tr>
                <td>{{ c.nombre }}</td>
                <td>{{ c.cedula }}</td>
                <td>{{ c.celular }}</td>
                <td>{{ c.pais }}</td>
                <td>
                    <a href="/proveedor/actualizar/{{c.id}}"><i class=  "fa fa-pencil" aria-hidden="true" style="color: black;"></i></a>
                </td>
                <td>
                    <a href="/proveedor/activar/{{c.id}}"><i class="fa fa-trash" aria-hidden="true" style="color: black;"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "inc/footer.html" %}